<h1>World's Best English Lessons!</h1>
<h3>EnglishMaster.com is the world's largest platform</h3>
<h3>to connect you with best English teachers!</h3>
<% for event in @events %>
    <p><a href="/events/<%= event[:id] %>"><%= event[:title] %></a></p>
<% end %>

    <div class="container mt-5">
      <h5>NOTE: Location of all the lessons is Kellogg School's Globul Hub!</h5>
      <iframe
        width="500"
        height="320"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
          &q=<%= @lat_long %>&zoom=6" allowfullscreen>
      </iframe>
