<h1>World's Best English Lessons!</h1>
<h3>EnglishMaster.com is the world's largest platform</h3>
<h3>to connect you with best English teachers!</h3>
<% for event in @events %>
    <p><a href="/events/<%= event[:id] %>"><%= event[:title] %></a></p>
<% end %>