<h1>World's Best English Lessons!</h1>
<h2>EnglishMaster.com is the world's largest platform</h2>
<h2>to connect you with best English teachers!</h2>
<% for event in @events %>
    <p><a href="/events/<%= event[:id] %>"><%= event[:title] %></a></p>
<% end %>